<footer class="footer flex">
    <div id="spring-links flex">
        <p class="smallest antialiased">Copyright © 2023-present the original author or authors. Licensed under the Apache License, Version 2.0. See <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
    </div>
</footer>
